optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 1000
  batch_size: 1024
  save_model: false
  loss: pairwise
  test_step: 3
  reproducible: true
  seed: 2024
  patience: 20
  trainer: vae_trainer

test:
  metrics: [recall, ndcg]
  k: [5, 10, 20]
  batch_size: 1024

data:
  type: general_cf
  name: yelp


model:
  name: mult_vae_godm_sliced
  # general parameters here

  # Sliced Wasserstein specific parameters
  num_projections: 50  # Number of random projections (higher = more accurate but slower)
  use_max_sliced: true  # Use max-sliced variant for sharper alignment
  
  # dataset-specific parameters here
  dropout: 0.2
  reg_weight: 1.0e-6
  
  # for amazon
  amazon:
    dropout: 0.3
    beta: 0.4  # Can potentially use lower beta due to more efficient SWD
    reg_weight: 1.0e-6
    num_projections: 50
    use_max_sliced: true
    
  # for yelp
  yelp:
    dropout: 0.3
    beta: 0.8
    reg_weight: 1.0e-6
    num_projections: 50
    use_max_sliced: true
    
  # for steam
  steam:
    dropout: 0.2
    beta: 1.0
    reg_weight: 1.0e-6
    num_projections: 50
    use_max_sliced: true

  embedding_size: 32