optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 1000
  batch_size: 1024
  save_model: false
  loss: pairwise
  test_step: 3
  reproducible: true
  seed: 2024
  patience: 20
  trainer: vae_trainer

test:
  metrics: [recall, ndcg]
  k: [5, 10, 20]
  batch_size: 1024

data:
  type: general_cf
  name: steam

model:
  name: mult_vae_mddm_alpha
  dropout: 0.3
  reg_weight: 1.0e-6
  
  steam:
    dropout: 0.3
    beta: 0.3
    reg_weight: 1.0e-6
    alpha: 0.01
    alpha_weight: 1.0
    use_analytical: true
    num_alpha_samples: 10

  embedding_size: 32